{% extends "polls/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>

            <ul class="list-group">
                {% for poll in page_obj %}
                <li class="list-group-item">
                    <strong>{{poll.question}}</strong>
                    <span class="pull-right">
                        <a href="{% url 'vote' poll.id%} " class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="{% url 'results' poll.id%}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
                {% endfor %}             
            </ul>
            <div>
                <span>
                    {% if page_obj.has_previous %}
                    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                    {% comment %} <button type="button" class="btn btn-primary" href="?page={{page_obj.previous_page_number}}">Previous</button> {% endcomment %}
                    {% endif %}
                    <span>{{page_obj.number}}</span>
                    {% if page_obj.has_next%}
                    <a href="?page={{page_obj.next_page_number}}">Next</a>
                    {% comment %} <button type="button" class="btn btn-primary" href="?page={{page_obj.next_page_number}}">Next</button> {% endcomment %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}