{% extends "polls/base.html" %}

{% block title %}Results{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Poll Result</h3>
            </div>

            <div class="panel-body">
                <h3>{{poll.question}}</h3>
            </div>
            {% if poll.id %}
                <ul class="list-group">
                    <li class="list-group-item">{{poll.option_one}} &mdash; <strong>{{poll.option_one_count}}</strong></li>
                    <li class="list-group-item">{{poll.option_two}} &mdash; <strong>{{poll.option_two_count}}</strong></li>
                    <li class="list-group-item">{{poll.option_three}} &mdash; <strong>{{poll.option_three_count}}</strong></li>
                </ul>

                <div class="panel-footer">
                    Total &mdash; <strong>{{poll.total}}</strong>
                </div>
            {% else %}
                <h2>
                    Please Choice valid Id
                </h2>
                <a href="{% url 'home'%} " class="btn btn-info btn-xs">Home</a> &nbsp;
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}
